// team section start
.team {
    width: 100%;
    background-color: $teamBgColor;
    position: relative;
}

.team-disk {
    background-image: url(../img/team-right-bottom.svg);
    background-repeat: no-repeat;
    background-position: calc(50% + 760px) bottom;
}

.team-container {
    display: flex;
    justify-content: space-between;
    padding-top: 140px;
    position: relative;
    padding-bottom: 140px;
}

.team-context {
    width: 445px;
}

.team-context__span {
    display: inline-block;
    width: 50px;
    height: 4px;
    background-color: $mainTextsColor;
    margin-bottom: 54px;
}

.team-context__heading {
    margin-top: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}

.team-list__item {
    display: flex;
    margin-bottom: 32px;
}

.team-item__img {
    width: 72px;
    height: 72px;
    margin-right: 23px;
}

.team-item__extra-heading {
    margin-top: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: $mainTextsColor;
    margin-bottom: 16px;
}

.team-item__text {
    width: 445px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    opacity: 0.8;
}

.team-img {
    margin-right: auto;
    margin-left: auto;
}

// team section end

// mediaDevices 
@include mediaDevices (990px) {
    .team-context__span {
        margin-bottom: 50px;
    }

    .team-item__extra-heading {
        font-size: 16px;
    }

    .team-item__text {
        width: 100%;
    }
}

@include mediaDevices (769px) {
    .team-container {
        flex-wrap: wrap;
        justify-content: left;
        padding-top: 100px;
        padding-bottom: 100px;
        margin: 0 auto;
    }

    .team-context__span {
        margin-bottom: 32px;
    }

    .team-context__heading {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 64px;
    }

    .team-item__text {
        width: 100%;
    }

    .team-img__right-bottom {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
    }
}

@include mediaDevices (447px) {
    .team-container {
        flex-wrap: wrap;
        justify-content: left;
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .team-context {
        width: 240px;
    }

    .team-context__span {
        margin-bottom: 32px;
    }

    .team-context__heading {
        margin-bottom: 56px;
    }

    .team-list {
        text-align: center;
    }

    .team-list__item {
        flex-wrap: wrap;
        margin-bottom: 32px;
    }

    .team-item__img {
        margin-right: auto;
        margin-bottom: 16px;
        margin-left: auto;
        justify-content: center;
    }

    .team-item__extra-heading {
        margin-bottom: 8px;
    }

    .team-item__text {
        width: 100%;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        opacity: 0.8;
    }
}

